.submit-button,
.reload-button {
  @include size(80px, calc(100% - 25px));
  transition: transform 200ms ease-out;

  &:enabled {
    &:hover {
      transform: scale(.95);
    }
  }

  p {
    font-weight: bold;
  }
}

.reload-button {
  height: 50px;
  margin: 10px 0;
}