.hint {
  @include size(15px);
  border-radius: 50%;
  display: inline-block;
  margin: 0 2px;

  &.RIGHT_COLOR_RIGHT_POSITION {
    background-color: $red;
    border: 1px solid $red;
  }

  &.RIGHT_COLOR_WRONG_POSITION {
    border: 1px solid grey;
  }
}

