.peg {
  @include size(35px);
  border-radius: 50%;
  border: none;
  margin: 0 15px 0 0;

  &.yellow {
    background-color: $yellow;
  }
  &.orange {
    background-color: $orange;
  }
  &.red {
    background-color: $red;
  }
  &.pink {
    background-color: $pink;
  }
  &.green {
    background-color: $green;
  }
  &.blue {
    background-color: $blue;
  }
}

.peg-button {
  display: block;
  cursor: pointer;
  transition: transform 200ms ease-out;
  margin: 10px;

  &:hover {
    transform: scale(.95);
  }
}