.row {
  border: 2px solid #8d8d92;
  margin: 20px;
  display: flex;
  @include size(auto, 70px);
  align-items: center;
}

.decode-row {
  display: flex;
  justify-content: center;
  width: 60%;
}

.hints-row {
  width: 20%;
  max-width: 50px;
  margin-left: 30px;
}