.main-container {
  @include size(90%, auto);
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
}

.game-container {
  display: flex;
  justify-content: flex-start;
}

.code-pegs-container {
  display: flex;
  min-width: 100px;
  width: 20%;
  align-items: center;
  flex-direction: column;
}